#{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: #0082e6;
    width: 1200px;
    height: 100px;
}
label.logo{
    color: white;
    font-size: 70px;
    line-height: 50px;
    line-height: 50px;
    padding: 0 100px;
    font-weight: bold;
    margin-top: 10%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline block;
    line height: 80px;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px
}
nav ul li a{
    color: white;
    font-size:17px;
    padding: 7px 13;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: Ss;
}
#up{
    color: #f3e3e3;
    font font-family: didot, serif;
    background-color: #707B7C ;
    margin: 5%;
    width: 100%;
}
#one{
    float: right;
    position: relative;
}
body{
    margin: 0%;
    padding: 0%;
    background: #c0adad;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.comtainer{
    width: 800px;
    min-height: 50px;
    background: #15105c;
    margin: 90px auto 0;
    display: flex;
    flex-direction: row;
    flex word-wrap: wrap;
}
.container .cell{
    position: relative;
    width: 300px;
    height: 200px;
    background: #da0d28;
    margin: 5px;
    box box-sizing: border-box;
    display: inline-block;
}
.container .cell .cell1{
    position: relative;
}
.container .cell .cell1 img{
    max-width: 300px;
}
.container .cell:hover .cell1 img{
    transform: scale(1.5);
}
.container .cell .insight{
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    color: #f3f2f2;
}
.container .cell .cell2{
    position: relative;
}
.container .cell .cell2 img{
    max-width: 300px;
}
.container .cell:hover .cell2 img{
    transform: scale(1.5);
}
.container .cell .detail{
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 20px;
    right: 15px;
    color: #f3f2f2;
}
.container .cell .cell3{
    position: relative;
}
.container .cell .cell3 img{
    max-width: 300px;
}
.container .cell:hover .cell3 img{
    transform: scale(1.5);
}
.container .cell .detail1{
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    color: #ddcfcf;
}
.container .cell .cell4{
    position: relative;
}
.container .cell .cell4 img{
    max-width: 300px;
}
.container .cell:hover .cell4 img{
transform: scale(1.5);
}
.container .cell .detail2{
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    color: #ddcfcf;
}
.text .heading{
    color: white;
    background:  #0082e6;
}
.container2 .cell2 .cell5: img{
    float: right;
    transform: scale(1.5);
    max-width: 350px;
    position: relative;
}
.cell5{
    float: right;
}
/* footer */
.footer{
    background: #4a545c;
    color: rgb(250, 245, 245);
    height: 400px;
    position: relative;
}
.footer .footer-content{
    border: 1px solid red;
    height: 350px;
}
.footer.footer-bottom{
    background: rgb(236, 79, 79);
    color: rgb(143, 102, 102);
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
